.panel
  .row
    .four.columns
      = image_tag 'logo.png'
    .eight.columns
      %h2 Chi siamo e cosa facciamo
      %p Vogliamo creare un club di persone che per lavoro e passione si occupano di programmazione, nuove tecnologie e startup.
      %p Ci incontriamo una volta al mese in un ambiente aperto e informale, dove sono i partecipanti a proporsi per i talk. Dopo l'evento, birra e pizza tutti assieme.
      %p Per restare aggiornato entra nel gruppo Facebook "Programmers in Padua" e segui il blog