!!! 5

%html
  %head
    %title programmers&middot;in&middot;padua
    
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    
  %body
    
    = yield
